<div class="container-fluid">
  <div class="row margin-top-20">
    <div class=" col-lg-8 col-lg-offset-2 col-md-8 col-md-offset-2 col-sm-8 col-sm-offset-2 col-xs-12">
      <app-search (onSearch)="onSearch($event)" (onFavoriteList)="onFavoriteList($event)" [cities]="cities"></app-search>
    </div>
  </div>
  <div class="row margin-top-20">
    <div class="col-lg-3 col-lg-offset-1 col-md-4 col-md-offset-1 col-sm-12 col-xs-12">
      <div class="filter-block">
        <app-filter (applyFilter)="applyFilter($event)" [enableFilter]="enableFilter"></app-filter>
      </div>
    </div>
    <div class="col-lg-5 col-md-5 col-sm-12 col-xs-12">
      <app-list [flats]="flats" (show)="show($event)" (favorite)="favorite($event)" (pageChanged)="pageChanged($event)" [loading]="loading"
        [pagination]="pagination"></app-list>
    </div>
  </div>
</div>